<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">
                            <span class="fa fa-home fa-md"></span> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-info fa-md"></span> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-list fa-md"></span> Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-address-card fa-md"></span> Contact
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">
                            <span class="fa fa-home fa-md"></span> Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">
                            <span class="fa fa-info fa-md"></span> Sign In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>