<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">

    <title>Forgot-Password</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">
                            <span class="fa fa-home fa-md"></span> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-info fa-md"></span> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-list fa-md"></span> Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="fa fa-address-card fa-md"></span> Contact
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">
                            <span class="fa fa-home fa-md"></span> Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">
                            <span class="fa fa-info fa-md"></span> Sign In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/forgot_password" method="POST">
                    <div class="row form-group">
                        <label class="col-form-label col-4 text-right" for="email">Registered Email</label>
                        <input class="col-8" type="email" name="email" id="email" placeholder="email" required>
                    </div>

                    <div class="row form-group">
                        <div class="col-4"></div>
                        <input class="col-8 btn btn-dark" type="submit" value="reset" name="forgot_password">
                    </div>
                </form>
                <form>
                    <div class="row form-group">
                        <div class="col-4"></div>
                        <a class="col-8 text-left btn btn-link" style="padding-left: 0;" href="/signin">Sign In</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <!-- <script src="node_modules/jquery/dist/jquery.slim.min.js"></script> -->
    <!-- <script src="node_modules/popper.js/dist/umd/popper.min.js"></script> -->
    <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>