<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot-Password</title>
    <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/forgot_password" method="POST">
                    <div class="row form-group">
                        <label class="col-form-label col-4 text-right" for="email">Registered Email</label>
                        <input class="col-8" type="email" name="email" id="email" placeholder="email" required>
                    </div>

                    <div class="row form-group">
                        <div class="col-4"></div>
                        <input class="col-8 btn btn-dark" type="submit" value="reset" name="forgot_password">
                    </div>
                </form>
                <form>
                    <div class="row form-group">
                        <div class="col-4"></div>
                        <a class="col-8 text-left btn btn-link" style="padding-left: 0;" href="/signin">Sign In</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div> -->


    <%- include("partials/flash");%>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Relocate your account!</h3>
                                <form action="/forgot_password" method="POST">

                                    <div class="form-label-group">
                                        <input type="email" name="email" id="inputEmail" class="form-control"
                                            placeholder="Email address" required autofocus>
                                        <label for="inputEmail">Email address</label>
                                    </div>

                                    <button
                                        class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit" name="forgot_password" value="signin">
                                        Reset Password
                                        </button>
                                    <div class="text-center">
                                        <a class="small" href="/signin">Sign Back IN</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>