<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neural Style Transfer Web App</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">TURN YOUR PHOTOS INTO ART.</h1>
            <p class="lead">Not an Artist? Need an artisitc edit to your photo? Repaint your picture in the style of your favorite artist</p>
          </div>
    </div>
    <%- include("partials/flash");%>

    <!-- Take content image as input -->
    <h5>Upload your image on which you want to apply style</h5>
    <form method="POST" action="/content_image" enctype="multipart/form-data">
        <input type="file" name="content_image" id="content_image" accept="image/*" value="" required>
        <input type="submit">
    </form>

</body>
</html>